  <li>
    {{announcement.message}}
    <button {{action 'delete' announcement}}>Throw in trash</button>
    {{update-announcement announcement=announcement updateAnnouncement2="updateAnnouncement2"}}
  </li>
